@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (showLeaderboard)
{
    <Leaderboard />
}
else
{
    <section class="home-entry">
        <button class="welcome-button" type="button" @onclick="ShowLeaderboard">
            Welcome to the Leaderboard App
        </button>
    </section>
}

@code {
    private bool showLeaderboard;

    private void ShowLeaderboard()
    {
        showLeaderboard = true;
    }
}
